<div class="container">
  <div class="row">
    <div class="col">
       

      <div class="banner d-flex align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1519929436393-fe843baf2cec?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">

          <div class="d-flex flex-column mb-3 align-items-center justify-content-center align-middle gap-3">
            <h1 class="fs-1 text">Ty-mouët</h1>
              <h1 class="fs-2 text">A chaque occasion sa mouette</h1>
                <p class="fs-3 text">Proposez votre mouette ou trouver les meilleures mouettes à proximité </p>
          <div class="d-flex flex-row">
            <%= link_to "Ajoutez une mouette", new_mouette_path, class: "btn btn-outline-light rounded p-3 me-3 fs-5 text" %>
            <a class="btn btn-outline-light rounded p-3 fs-5 text" href="#index-title">Voir les mouettes</a>
          </div>
          </div>

      </div>
    </div>
  </div>
</div>
