<div class="container">
<h1> Mes locations de mouettes </h1>

<div class="d-flex justify-content-center align-items-center">
      <div class="row d-flex justify-content-around">
        <% @bookings.each do |booking| %>
          
        <% end %>
          </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center align-items-center">
    <%= link_to "Ajoutez une mouette", new_mouette_path, class: "btn btn-info btn-lg my-3 col-2" %>
</div>
