<div class="container">
  <div class="row">
    <div class="card-mouette rounded-4">

    <img src="https://tse3.mm.bing.net/th?id=OIG3.JAgru0aiEJxzfzUu714P&pid=ImgGn" alt="">
    <img src="https://tse4.mm.bing.net/th?id=OIG4.RP.6QP8u_RnRqq7caq6S&pid=ImgGn" alt="">
    <img src="https://tse2.mm.bing.net/th?id=OIG4.VWN_svtSLuaEK.kJfraP&pid=ImgGn" alt="">
    <img src="https://tse4.mm.bing.net/th?id=OIG1.Ku1RCuIdQxpLwhKiPqBz&pid=ImgGn" alt="">
    <img src="https://tse3.mm.bing.net/th?id=OIG4.tMovr5eYZJMD70.JMCPX&pid=ImgGn" alt="">
    <img src="https://tse4.mm.bing.net/th?id=OIG3.Lwyv9dEmPJHVutoRlFZz&pid=ImgGn" alt="">
    <span class="booking-status-bagde badge rounded-pill text-bg-info">
    ategory</span>
    </div>
  </div>
</div>
