<h1 class="my-5 d-flex justify-content-center"><strong>Trouvez les mouettes de votre région</strong></h1>

<div class="container ">
  <div class="cards">
    <% @mouettes.each do |mouette|  %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path mouette.photo.key, crop: :fill %>')">
        <%= link_to mouette.name, mouette_path(mouette), class: "text-decoration-none text-light" %>
      </div>
    <% end %>
  </div>
</div>

<div class = "d-flex justify-content-center">

  <%= link_to "Ajoutez une mouette!", new_mouette_path, class: "btn btn-primary d-flex justify-content-center my-3 col-2" %>
</div>

<%# <img src="https://images.pexels.com/photos/56618/seagull-sky-holiday-bird-56618.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt=""> %>