<h1 class="my-5 d-flex justify-content-center"><strong>Trouvez les mouettes de votre région</strong></h1>

<div class="container d-flex flex-column  ">
<div class="row d-flex space-between">



    <% @mouettes.each do |mouette|  %>
      <div class="card col-12 col-sm-3 m-1">
        <img src="<%= cl_image_path mouette.photo.key, crop: :fill %>" alt="<%mouette.name%> the seagull" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title"><%= link_to mouette.name, mouette_path(mouette), class: "text-decoration-none text-light" %></h5>
            <p class="card-text"><small class="text-body-secondary"><%=mouette.availability%></small></p>
          </div>
      </div>
    <% end %>


</div>
<div>

  <%= link_to "Ajoutez une mouette!", new_mouette_path, class: "btn btn-info btn-lg  my-3 col-2" %>
</div>

<%# <img src="https://images.pexels.com/photos/56618/seagull-sky-holiday-bird-56618.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt=""> %>
