<div class="container d-flex flex-column mb-6">

  <h1 class="my-5 d-flex justify-content-center"> <strong >Créez votre nouvelle mouette </strong> </h1>



    <%= render "form", mouette: @mouette %>



</div>
