<div class="container d-flex flex-column shadow bg-white p-4 rounded-5 mt-2">
  <h1 class="my-5 d-flex justify-content-center"> <strong >Nouvelle annonce de mouette </strong> </h1>
  <%= render "form", mouette: @mouette %>
</div>
