// .banner {
//   background-size: cover;
//   // background-position-x: right;
//   // padding: 150px 0;
//   // height: 90vh;
//   // width: 75vw;
// }


.banner{
  background-image: url(https://images.unsplash.com/photo-1519929436393-fe843baf2cec);
  background-size: cover;
  background-position: center;
  height: 80vh;
  min-height: 30vh;

}


.banner-title h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  // font-size: 3rem;
  font-weight: bold;
}

// .banner-booking h1{
//   margin: 0;
//   color: black;
//   text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
//   font-size: 2rem;
//   font-weight: bold;
// }

// .margin{
//   margin: 10px;
// }

.banner-title p {
  // font-size: 2rem;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

// .img-banner img{
//   width: 100vw;
//   height: 100vh;
//   object-fit: cover;
// }

.banner-cadre-photo{
  z-index: 0;
  position: absolute;
  right: 0;
  // height: 90vh;
}

.banner-cadre-reservation{
  z-index:2;
  // z-index: 1;
  // position: absolute;
  // left: 0;
  // margin-top: 25vh;
}

// .carte-map{
//   position: absolute;
//   top: 105vh;
// }
// .global-banner{
//   position: relative;
// }

// // Smallest device
// @media (min-width: 100px) and (max-width: 575px) {
//   .banner img{
//     height: 70vh;
//     object-fit: cover;
//     justify-content: end;
//   }
//   .banner-cadre-reservation{
//     z-index:2;
//     width: 100%;
//     height: 50vh;
//     justify-content: center;
//   }

//   #col{
//     column-count: 1;
//   }
// }

// Extra-small devices (portrait phones, less than 576px)
@media (max-width: 575px){

  .banner{
    min-width: 100%;
  }

  .banner-cadre-reservation{
    z-index:2;
    justify-content: center;
    width: 90vw;
    padding: 0 1em;

  }
  .global-banner {
    flex-direction: column;
  }
}

// Small devices (landscape phones, entre 576px et 767px)
@media (min-width: 576px) and (max-width:767px){

  .banner{
    min-width: 100%;
  }

  .banner-cadre-reservation{
    z-index:2;
    justify-content: start;
    width: 90vw;
    padding: 0 1em;

  }

  .global-banner{
    flex-direction: column;
  }

}

// Medium devices (tablets, entre 768px et 991px)
@media (min-width: 768px) and (max-width:991px){
  .banner {

    position: sticky;
    right: 0;
    top: 5em;
  }

  .banner-cadre-reservation{
    z-index:2;
    min-width: 420px;
    max-width: 420px;
    justify-content: start;
    position: sticky;
    left: 5em;
    top: 3em;
    padding: 0 1em;
  }

  .global-banner {
    flex-direction: row-reverse;
  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width:1199px){
  .banner {

    position: sticky;
    right: 0;
    top: 5em;
  }

  .banner-cadre-reservation{
    z-index:2;
    min-width: 420px;
    max-width: 420px;
    justify-content: start;
    position: sticky;
    left: 5em;
    top: 3em;
    padding: 0 1em;
  }

  .global-banner {
    flex-direction: row-reverse;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .banner {

    position: sticky;
    right: 0;
    top: 5em;
  }

  .banner-cadre-reservation{
    z-index:2;
    min-width: 420px;
    max-width: 420px;
    justify-content: start;
    position: sticky;
    left: 5em;
    top: 3em;
    padding: 0 1em;
  }

  .global-banner {
    flex-direction: row-reverse;
  }
}
