.banner {
  background-size: cover;
  // background-position-x: right;
  // padding: 150px 0;
  // height: 90vh;
  // width: 75vw;
}

.banner-title h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  // font-size: 3rem;
  font-weight: bold;
}

// .banner-booking h1{
//   margin: 0;
//   color: black;
//   text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
//   font-size: 2rem;
//   font-weight: bold;
// }

// .margin{
//   margin: 10px;
// }

.banner-title p {
  // font-size: 2rem;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

// .img-banner img{
//   width: 100vw;
//   height: 100vh;
//   object-fit: cover;
// }

.banner-cadre-photo{
  z-index: 0;
  position: absolute;
  right: 0;
  // height: 90vh;
}

.banner-cadre-reservation{
  z-index: 1;
  position: absolute;
  left: 0;
  margin-top: 25vh;

}

.carte-map{
  position: absolute;
  top: 105vh;
}
// .global-banner{
//   position: relative;
// }
