label {
  display: block;
  font:
    1rem 'Fira Sans',
    sans-serif;
}
input, label {
  margin: 0.4rem 0;
}

.shadow {
  height: fit-content;
}

.shadow h1 {
  font-family: parkinsans, sans-serif;
}
