.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  margin-top: 0;
  flex-grow: 0;
  padding: 15px;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}
